.header {
  padding:30px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.logo {
  max-width: 150px; 
}

.menu {
  max-width: 30px;  
}

.description{
  color:#fff;
  width:450px;
  line-height: 1.5;
  padding-left:30px;
}

.footer{
margin-top:-330px;
margin-left:700px;
}


