html, body {
  margin: 0;  /* Elimina cualquier margen por defecto */
  padding: 0;  /* Elimina cualquier relleno por defecto */
  width: 100%;  /* Asegura que el body ocupe el 100% del ancho */
  height: 100%;  /* Asegura que el body ocupe el 100% de la altura */
  overflow-x: hidden; 
  font-family: 'Roboto', sans-serif;
  background-color:#404fed;
}

:root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 60px;
  line-height: 1.1;
  color:#fff;
font-family: 'Poppins', sans-serif;
padding-left:30px;
width:400px;
}

button {
  border-radius: 28px;
  border: 0px solid;
  padding: 15px 25px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  margin-left:30px;
  margin-bottom: 10px;
  margin-top:10px;
}

.button-2 {
  border-radius: 28px;
  border: 0px solid;
  padding: 15px 25px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333333;
  margin-left:30px;
  color:#fff;
}

.card{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}


